.container
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      %br/
      = f.label :Name
      = f.text_field :name
      %br/
    .field
      %br/
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      %br/
      = f.label :password
      %i (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
    .field
      %br/
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      %br/
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off"
    .actions
      %br/
      = f.submit "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
