.container
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      %br/
      = f.label :name
      = f.text_field :name
    .field
      %br/
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      %br/
      = f.label :password
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
    .field
      %br/
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      %br/
      = f.submit "Sign up"
  = render "devise/shared/links"
