= form_for(schools_major) do |f|
  - if schools_major.errors.any?
    #error_explanation
      %h2
        = pluralize(schools_major.errors.count, "error")
        prohibited this schools_major from being saved:
      %ul
        - schools_major.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :school_id
    = f.collection_select :school_id, School.order(:name), :id, :name, include_blank: true
  .field
    = f.label :major_id
    = f.collection_select :major_id, Major.order(:name), :id, :name, include_blank: true
  .actions
    = f.submit
