%p#notice= notice
%p
  %strong School:
  = @schools_major.school
%p
  %strong Major:
  = @schools_major.major
= link_to 'Edit', edit_schools_major_path(@schools_major)
|
= link_to 'Back', schools_majors_path
