%h1 My Liked Reviews
You have liked
= @liked_reviews.length
reviews.

%br
- @liked_reviews.each do |liked_review|
  %a{href: "/reviews/#{liked_review.review.id}"}
    %hr/
    %div
      %div{:align => "center"}
        %strong= liked_review.review.schools_major.school.name
        %br
        %strong= liked_review.review.schools_major.major.name
        %br
        %h3= liked_review.review.oneline_review
      %span{:style => "color: green;"} Pros
      %br
      - if liked_review.review.pro.present?
        = liked_review.review.pro[0,100] + ' ...'
      %br
      %br
      %span{:style => "color: red;"} Cons
      %br
      - if liked_review.review.con.present?
        = liked_review.review.con[0,100] + ' ...'
    %br
