= link_to("Edit Profile", edit_user_registration_path)
%br
%br
= link_to("My Own Reviews", users_my_reviews_path)
%br
%br
= link_to("My Liked Reviews", users_collected_reviews_path)
%br
%br
= link_to("My Schools", users_my_schools_path)
