%h1 My Own Reviews
You have
= @reviews.length
reviews.
%br
- @reviews.each do |review|
  %a{href: "/reviews/#{review.id}"}
    %hr/
    %div{:align => "center"}
      %strong= review.schools_major.school.name
      %br
      %strong= review.schools_major.major.name
      %br
      %h3= review.oneline_review
    %span{:style => "color: green;"} Pros
    %br
    - if review.pro.nil?
      = review.pro
    - else
      = review.pro[0,100] + ' ...'
    %br
    %br
    %span{:style => "color: red;"} Cons
    %br
    - if review.con.nil?
      = review.pro
    - else
      = review.con[0,100] + ' ...'
    %br
%hr/
%div{:align => "center"}
  #{button_to "Write a Review", reviews_new_path}
