= form_for(major) do |f|
  - if major.errors.any?
    #error_explanation
      %h2
        = pluralize(major.errors.count, "error")
        prohibited this major from being saved:
      %ul
        - major.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit
