%p#notice= notice
%h1 Majors
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @majors.each do |major|
      %tr
        %td= major.name
        %td= link_to 'Show', major
        %td= link_to 'Edit', edit_major_path(major)
        %td= link_to 'Destroy', major, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Major', new_major_path
