%h3 Search Major
= form_tag(majors_search_major_path, method: :get) do
  = text_field_tag :major, params[:major], class: "search-query", placeholder: "Search", type: "search", data: {autocomplete: majors_autocomplete_major_name_path}
  = submit_tag 'Search', name: ''

- if @majors.length > 0
  %ul
  - @majors.each do |major|
    %li= link_to(major.name, major_path(major))
