.container
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      %br/
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      %br/
      = f.label :password
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      .field
        %br/
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in"
  = render "devise/shared/links"
