= form_for @school do |f|
  - if @school.errors.any?
    #error_explanation
      %h2= "#{pluralize(@school.errors.count, "error")} prohibited this school from being saved:"
      %ul
        - @school.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :postcode
    = f.text_field :postcode
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
