/ Section
%a{href: "/reviews/#{review.id}", style: 'text-decoration: none; color: #7f888f;'}
  %section{:style => "padding-top: 10px; padding-bottom: 10px;"}
    %header.major
      %span{:style => "font-size: medium;"}= review.schools_major.school.name
      %br
      %span{:style => "font-size: medium;"}= review.schools_major.major.name
      .pull-right
        %a.icon.fa-heart
          = review.reviews_likes.size
        -# %a.icon.fa-comment
        -#   = review.schools_major.reviews.size
    %header
      %span.icon.fa-star{:style => "font-size: large; color: #ffd432;"}
      = review.schools_major.rating_overall_averate
%hr{:style => "margin-bottom: 0px; margin-top: 0px;"}
%a{href: "/reviews/#{review.id}", style: 'text-decoration: none; color: #7f888f;'}
  %section{:style => "padding-top: 15px; padding-bottom: 1px;"}
    %header
      %h3= review.oneline_review
      %p{:style => "margin-bottom: 7px;"}
        %span{:style => "color: green;"} Pros:
      %blockquote
        = review.pro
      %p{:style => "margin-bottom: 7px;"}
        %span{:style => "color: red;"} Cons:
      %blockquote
        = review.con
%br
