%section
  %article
    .image{:style => "width: 100%;"}
      = image_tag @school.picture_url.to_s, style: "width:100%;", alt: ""
      .shadow-box
        %div{:style => "display: flex; flex-direction: row;"}
          %div{:style => "display: flex; flex-direction: column;"}
            %a{:href => "school-info.html"}
              %h3{:style => "margin-bottom: 0; color: lightgray"}= @school.name
            %p{:style => "margin-bottom: 0; color: white"} In the capital of Australia
 
%div{:align => "center"}
  %strong has xxx reviews
  %br

= render partial: 'school_review', collection: @reviews, as: 'review'
