%h3 Search School
= form_tag schools_search_school_path, :method => :get do
  = select(:id, nil, School.mapped_collection, {include_blank: true}, class: 'myselect')
  = submit_tag "Submit", {:style => "margin-top: 20px; margin-bottom: 20px; "}