%section
  %article
    .image{:style => "width: 100%;"}
      = image_tag @school.picture_url.to_s, style: "width:100%;", alt: ""
      .shadow-box
        %div{:style => "display: flex; flex-direction: row;"}
          %div{:style => "display: flex; flex-direction: column;"}
            %a{:href => "school-info.html"}
              %h3{:style => "margin-bottom: 0; color: lightgray"}= @school.name
            %p{:style => "margin-bottom: 0; color: white"}= @school.oneline_review

.school-reviews
  .review
    %table
      %tr
        %td{rowspan: 6}
          Overall
          - @review.rating_overall.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
        %td
          Teaching
          - @review.rating_teaching.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
      %tr
        %td
          Location
          - @review.rating_location.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
      %tr
        %td
          Facilities
          - @review.rating_facilities.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
      %tr
        %td
          Campus Vibe
          - @review.rating_friendly.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
      %tr
        %td
          Job Prospects
          - @review.rating_opportunity.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
      %tr
        %td
          Value
          - @review.rating_value.to_i.times do
            %span.fa.fa-star.fa-lg.fa-yellow-star
  .school-info
    %table
      %tr
        %td Website
        %td= @school.url
      %tr
        %td Location
        %td= @school.city
      %tr
        %td % Recommended
        %td= @recommend_percentage
%div{:align => "center"}
  - if user_signed_in?
    %span
      = hidden_field_tag :user_school_like, @school.schools_likes.find_by(user_id: current_user.id).present?
    %span.fa.fa-heart.like-toggle#school_like_toggle
      Like
%br
%br