.card.post
  .card-content
    .content
      %span.card-title= post.user.name
      %span= post.created_at
      - if user_signed_in? && current_user != post.user
        - if current_user.followings.include?(post.user)
          = form_tag follow_path(post.user.id), method: :delete, class: "right" do
            %button.btn Unfollow
        - else
          = form_tag follows_path, class: "right" do
            %input{:name => "followed_id", :type => "hidden", :value => "#{post.user.id}"}/
            %button.btn Follow
      .card-image
        - if post.image.url
          %img{:src => "#{post.image.url}"}/
      %p.pre-line= post.content
  .card-action
    = post.likes.size
    likes
    - if current_user.is_like?(post)
      = link_to "Cancel Like", post_like_path(post), method: "post"
    - else
      = link_to "Like", post_like_path(post), method: "post"
    - if current_user.id == post.user_id
      = link_to "delete", post_path(post), method: "delete", class: "right"
      = link_to "edit", edit_post_path(post), class: "right"
    = form_tag post_comments_path(post) do
      .input-field
        = text_area_tag :content, nil, class: "materialize-textarea", placeholder: "Write a comment", required: true
      .input-field
        = button_tag "Comment", class: "btn"
    - if post.comments.present?
      %ul.collection
        - post.comments.each do |comment|
          %li.collection-item
            %span.title= comment.user.name
            %span.right= comment.created_at
            %p.pre-line= comment.content
            - if comment.user.id == current_user.id
              %div= link_to "delete", post_comment_path(post, comment), method: "delete"
