.container
  .row
    .card.col.s12
      .card-content
        .card-title Edit Post
        = form_tag post_path(@post), method: "patch" do
          %input{:name => "id", :type => "hidden", :value => "#{@post.id}"}/
          .input-field
            = text_area_tag :content, @post.content, class: "materialize-textarea", placeholder: "Start here"
          .input-field
            = button_tag "edit", class: "btn"
