.container
  .row
    .col.s12.m4
      .card
        .card-content
          .card-title= current_user.name
          %p
            Email: #{current_user.email}
          %p
            Posts: #{@posts_count}
          %p
            Follower: #{current_user.followers.length}
          %p
            Following: #{current_user.followings.length}
          = link_to new_post_path do
            %button.btn Post
    .col.s12.m8
      - @posts.each do |post|
        = render partial: "post", object: post
