.container
  .row
    .card.col.s12
      .card-content
        .card-title Compose Post
        = form_tag posts_path, multipart: true do
          .input-field
            = file_field_tag :image
          .input-field
            = text_area_tag :content, nil, class: "materialize-textarea", placeholder: "Start here"
          .input-field
            = button_tag "post", class: "btn"
