.like-toggle {
	margin: 1px;
	/* border-style: solid;
	border-width: 1px;
	padding: 5px; */
}

.select2 {
	width:100% !important;
}

a {
	border-bottom: none !important;
}

.shadow-box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 29%;
	padding-left: 2em;
	padding-top: 1em;
	background: rgba(0,0,0,0.4);
	border-bottom-left-radius: 0.375em;
	border-bottom-right-radius: 0.375em;
}

.shadow-box .thumbnail {
	max-width: 16%;
}

.shadow-box > h3 {
	margin-bottom: 0.25em;
	font-size: 2.25em;
}

.shadow-box > p {
	font-size: 2em;
}

@media (max-width: 999px) {
	.shadow-box > h3 {
		margin-bottom: 0.25em;
		font-size: 1.25em;
	}

	.shadow-box > p {
		font-size: 1em;
	}
}

@media (max-width: 600px) {
	.shadow-box {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 29%;
		padding-left: 0.75em;
		padding-top: 0.25em;
		background: rgba(0,0,0,0.4);
		border-bottom-left-radius: 0.375em;
		border-bottom-right-radius: 0.375em;
	}

	.shadow-box .thumbnail {
		max-width: 20%;
	}
/*
	.shadow-box > h3 {
		margin-top: -0.25em;
	}

	.shadow-box > p {
		margin-top: -1.25em;
		line-height: 1.25em;
	}
*/
}

@media (max-width: 500px) {
	.wrap > h3 {
		margin-bottom: 0;
	}

	.shadow-box > h3 {
		margin-top: -0.25em;
	}

	.shadow-box > p {
		margin-top: -0.25em;
		line-height: 1em;
	}

	.content > p {
		font-size: 89%;
	}
}

.full-width {
	width: 100%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.x-large-font {
	font-size: x-large;
}

.x-large-font {
	font-size: large;
}

.red {
	color: red;
}

.pink {
	color: #f56a6a;
}

.green {
	color: green;
}

@media screen and (max-width: 736px) {
	#main > .inner > section {
		padding: 1em 0 1em 0;
	}
}

@media screen and (max-width: 1280px) {
	#main > .inner > section {
		padding: 2em 0 2em 0;
	}
}

@media screen and (max-width: 1680px) {
	#main > .inner > section {
		padding: 2em 0 2em 0;
	}
}

.email-label {
	font-size: 1.2em;
	margin: 0.25em 0;
}

.fa-yellow-star {
	color: #ffd432;
}
