= form_for @review do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  - if @review.persisted?
    = f.label :test, 'School'
    %h4{align: 'center'}
      = @review.schools_major.school.name
    = f.label :test, 'Major'
    %h4{align: 'center'}
      = @review.schools_major.major.name
  - else
    .field
      = f.label :test, 'School'
      = select(:school, nil, School.mapped_collection, {include_blank: true, selected: @review.schools_major.present? ?  @review.schools_major.school_id : false }, class: 'myselect', required: true)
    .field
      = f.label :test, 'Major'
      #major_select
        = select(:major, nil, Major.mapped_collection, {include_blank: true, selected: @review.schools_major.present? ? @review.schools_major.major_id : false }, class: 'myselect', id: 'options_major_select', required: true)
  %br
  .field
    = f.label :rating_teaching, 'Teaching'
    = hidden_field_tag :rating_teaching_count, @review.persisted? ? @review.rating_teaching : 3
    #rating_teaching{align: "center", style: "cursor:pointer;"}
      %span.star
        %span.fa.fa-star.fa-lg

  %br
  .field
    = f.label :rating_location, 'Location'
    = hidden_field_tag :rating_location_count, @review.persisted? ? @review.rating_location : 3
    #rating_location{align: "center", style: "cursor:pointer;"}
      %span.star
        %span.fa.fa-star.fa-lg

  %br
  .field
    = f.label :rating_facilities, 'Facilities'
    = hidden_field_tag :rating_facilities_count, @review.persisted? ? @review.rating_facilities : 3
    #rating_facilities{align: "center", style: "cursor:pointer;"}
      %span.star
        %span.fa.fa-star.fa-lg

  %br
  .field
    = f.label :rating_friendly, 'Campus Vibe'
    = hidden_field_tag :rating_friendly_count, @review.persisted? ? @review.rating_friendly : 3
    #rating_friendly{align: "center", style: "cursor:pointer;"}
      %span.star
        %span.fa.fa-star.fa-lg

  %br
  .field
    = f.label :rating_opportunity, 'Job Prospects'
    = hidden_field_tag :rating_opportunity_count, @review.persisted? ? @review.rating_opportunity : 3
    #rating_opportunity{align: "center", style: "cursor:pointer;"}
      %span.star
        %span.fa.fa-star.fa-lg

  %br
  .field
    = f.label :rating_value, 'Value'
    = hidden_field_tag :rating_value_count, @review.persisted? ? @review.rating_value : 3
    #rating_value{align: "center", style: "cursor:pointer;"}
      %span.star
        %span.fa.fa-star.fa-lg
  %br
  .field
    = f.label :pro, 'Pros'
    = f.text_area :pro, maxlength: "500"
    .pull-right#pro_text
  %br
  .field
    = f.label :con, 'Cons'
    = f.text_area :con, maxlength: "500"
    .pull-right#con_text
  %br
  .field
    = f.label :advice, 'Advice to Future Students'
    = f.text_area :advice, maxlength: "150"
    .pull-right#advice_text
  %br
    .field
      = f.label :rating_overall, 'Overall'
      = hidden_field_tag :rating_overall_count, @review.persisted? ? @review.rating_overall :  3
      #rating_overall{align: "center", style: "cursor:pointer;"}
        %span.star
          %span.fa.fa-star.fa-lg
  %br
  .field
    = f.label :oneline_review, 'Describe in one-line'
    = f.text_area :oneline_review, maxlength: "70"
    .pull-right#oneline_text
  %br
  .field
    = f.label :recommended, 'Would you recommend the school/course to others?'
    = f.radio_button :recommended, '1', checked: true
    = f.label :recommended_1, "Yes"
    = f.radio_button :recommended, '0'
    = f.label :recommended_0, "No"
  %br
  .field
    = hidden_field_tag :review_user_type, @review.persisted? ? @review.user_type : nil
    = f.label :user_type, 'I am'
    = f.radio_button :user_type, '1', checked: true
    = f.label :user_type_1, "Current Student", id: 'current_student_radio'
    = f.radio_button :user_type, '2'
    = f.label :user_type_2, "Graduate", id: 'graduate_radio'
    -# = f.radio_button :user_type, '3'
    -# = f.label :user_type_3, "Staff", id: 'staff_radio'
  %br
  .field{style: 'width:50% !important;', id: 'graduation_year_section'}
    = f.label :graduation_year, 'Graduation Year'
    = date_select("graduation_year", 'date', start_year: 1980, discard_day: true, discard_month: true, include_blank: true, selected: @review.has_graduation_year ?  Date.strptime(@review.graduation_year, '%Y') : nil )
  %br
    %br
    .actions
    = f.submit 'Save'
