%div{:align => "center"}
  %strong= @review.schools_major.school.name
  %br
  %strong= @review.schools_major.major.name
  %br
  %h3= @review.oneline_review
%table
  %tr
    %td{rowspan: "6"}
      Overall
      %br
      - @review.rating_overall.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star
    %td
      Teaching
      - @review.rating_teaching.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star
  %tr
    %td
      Location
      - @review.rating_location.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star
  %tr
    %td
      Facilities
      - @review.rating_facilities.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star
  %tr
    %td
      Campus Vibe
      - @review.rating_friendly.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star
  %tr
    %td
      Job Prospects
      - @review.rating_opportunity.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star
  %tr
    %td
      Value
      - @review.rating_value.to_i.times do
        %span.fa.fa-star.fa-lg.fa-yellow-star


%div{:align => "center"}
  Reviewed by:
  = @review.determine_user_type
%br

%span{:style => "color: green;"} Pros
%br
= @review.pro
%br
%br
%span{:style => "color: red;"} Cons
%br
= @review.con
%br
%br
%strong Advice to future students
%br
= @review.advice
%br
%br
%strong Recommended by reviewer
%br

- if @review.recommended == 1
  Yes
- else
  No

%div{:align => "center"}
  - if user_signed_in?
    %br
    %span
      = hidden_field_tag :user_review_like, @review.reviews_likes.find_by(user_id: current_user.id).present?
    %span.fa.fa-heart.like-toggle#review_like_toggle
      Like
%br
- if user_signed_in?
  - if current_user.id == @review.user_id
    = link_to 'Edit', edit_review_path(@review)
    %br
    = link_to 'Delete', review_path(@review), method: "delete"
%br
