!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CampusReview.org
    = csrf_meta_tags
    /[if lte IE 8]
      = javascript_include_tag 'html5shiv'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    /[if lte IE 9]
      = stylesheet_link_tag "ie9.css"
    /[if lte IE 8]
      = stylesheet_link_tag "ie8.css"
    = stylesheet_link_tag    'style'
    = javascript_include_tag 'jquery.min'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", :rel => "stylesheet"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}

  %body
    / Wrapper
    #wrapper
      / Main
      #main
        .inner
          / Header
          %header#header
            %a.logo{:href => "/"}
              %strong Campus Review
            %ul.icons
              - if user_signed_in?
                %li
                  = current_user.name
              %li
                %a.icon.fa-search{:href => "/schools/search_school"}
                  %span.label Search
          / Banner

          %p.notice= notice
          %p.alert= alert
          = yield

      / Sidebar
      #sidebar
        .inner
          -# / Search
          -# %section#search.alt
          -#   = form_tag(schools_search_school_path, method: :get) do
          -#     = autocomplete_field_tag :school, params[:school], schools_autocomplete_school_name_path, class: "search-query", placeholder: "Search", type: "search"

          / Menu
          %nav#menu
            %header.major
              %h2 Menu
            %ul
              - if user_signed_in?
                %li
                  %a{:href => "/"} Home
                %li
                  = link_to("My Page", users_my_page_path)
                %li
                  = link_to("My Schools", users_my_schools_path)
                %li
                  = link_to("Write a Review", new_review_path)
                %li
                  = link_to("Search", schools_search_school_path)
                %li
                  = link_to("Log out", destroy_user_session_path, method: :get)
              - else
                %li
                  %a{:href => "/"} Home
                %li
                  = link_to("Write a Review", new_review_path)
                %li
                  = link_to("Search", schools_search_school_path)
                %li
                  = link_to("Sign up", new_user_registration_path)
                %li
                  = link_to("Log in", new_user_session_path)
          / Footer
          %footer#footer
            %p.copyright © NXTPath 2018
    / Scripts



    = javascript_include_tag 'skel.min'
    = javascript_include_tag 'util'
    /[if lte IE 8]
      = javascript_include_tag 'respond.min'
      = javascript_include_tag 'ie/respond.min'
    = javascript_include_tag 'main'
